/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

.WeatherInfoBox{
    background-color:#ffffff80;
    max-width: 20%;
    padding: 10px;
    position: absolute;
    top: 40px;
    left: 180px;

}


/*----------- FOOTER --------------*/


    
} /* end of media query */