/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/

    header img{ width: auto;}
    header h1{font-size: 2rem;}
    header h2{font-size: 1.5rem;}

/*----------- NAVIGATION --------------*/
    nav ul {margin-left: 2%;}
    nav ul li {float: left;}

    nav ul li a{padding: .5rem 1rem;}


/*----------- MAIN --------------*/

figure img{
    float: right;
    max-width: 50%;
}
figcaption a{
    float: right;
}


/*----------- FOOTER --------------*/
footer section{
    padding: 0;
}
footer p{
    padding: 0;
}
} /* end of media query */