/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body{
    background-color: #E5B990;
    font-family: 'Quicksand', sans-serif;
    }
/*----------- HEADER --------------*/
div.title{
    float:right;
    margin-right: 10%;
}
/*----------- NAVIGATION --------------*/
nav{
    background-color: #724200;
    width: 100%;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a{
    display: block;
    text-decoration: none;
    padding: 5%;
    color: #E5B990;
}
/*----------- MAIN --------------*/
main{
    max-width: 90%;
    margin: auto;
}
figure img{
    width: 100%;
    margin: 0;
    padding: 0;
}
figcaption{
    width: 100%;
    margin: 0;
    padding: 0;
}
/*----------- FOOTER --------------*/
footer{
    background-color: #724200;
}



/*----- Clearfix: Force an Element not to collapse -----*/
