/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    

/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

.WeatherInfoBox{
    max-width: 20%;
    padding: 10px;
    

}
div.imageGallery figure{
    flex-basis: 29%;
}
.borderRadius:hover {box-shadow: 0 0 50px #333;}


/*----------- FOOTER --------------*/


    
} /* end of media query */